<mat-progress-bar
  *ngIf="percentage !== 0 && percentage !== 100"
  mode="determinate"
  value="{{ percentage }}"
  color="warn"
></mat-progress-bar>
<div class="container">
  <mat-form-field appearance="fill" class="post-area">
    <mat-label>Say something...</mat-label>
    <textarea rows="7" matInput></textarea>
  </mat-form-field>
  <input
    class="fileUploadBtn"
    type="file"
    accept="image/*"
    (change)="onFileSelected($event)"
  />
  <button
    class="post-btn"
    [disabled]="!selectedFiles"
    (click)="uploadImage()"
    mat-raised-button
    color="primary"
  >
    Post
  </button>
  <mat-card class="posts-card">
    <mat-card-header>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="https://material.angular.io/assets/img/examples/shiba2.jpg"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz
        breeds of dog from Japan. A small, agile dog that copes very well with
        mountainous terrain, the Shiba Inu was originally bred for hunting.
      </p>
      <div class="like-container">
        <span class="material-icons like-logo">favorite</span>
        <p class="liked-msg">10 people liked it</p>
      </div>
      <div class="comments">
        <h2 class="comments-title">Comments</h2>
        <p>
          <span class="comment-creater">The Rock: </span>This photo is kicking
          ass. :P
        </p>
        <mat-form-field class="comment-textarea" appearance="fill">
          <mat-label>Add a comment</mat-label>
          <textarea
            matInput
            placeholder="Add a comment that works for you..."
          ></textarea>
        </mat-form-field>
        <button mat-stroked-button>Comment</button>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
