<div class="container">
  <div class="form-container">
    <h2 class="title">Login</h2>
    <form>
      <mat-form-field appearance="outline">
        <mat-label>Enter your email</mat-label>
        <input type="text" matInput />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Enter your password</mat-label>
        <input type="password" matInput />
      </mat-form-field>
    </form>
    <div class="buttons-container">
      <button mat-raised-button color="primary" class="login-button">
        Login
      </button>
      <p>OR</p>
      <button mat-button>Create Account</button>
    </div>
  </div>
</div>
