<div class="container">
  <div class="form-container">
    <h2 class="title">Create Account</h2>
    <form [formGroup]="createAccountForm">
      <mat-form-field appearance="outline">
        <mat-label>Enter your email</mat-label>
        <input type="text" matInput formControlName="email" />
        <mat-error *ngIf="formHelpers.isFormControlInvalid('email')">
          {{ formHelpers.getErrorMessage("email") }}
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Enter your username</mat-label>
        <input type="text" matInput formControlName="username" />
        <mat-error *ngIf="formHelpers.isFormControlInvalid('username')">
          {{ formHelpers.getErrorMessage("username") }}
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Enter your password</mat-label>
        <input type="password" matInput formControlName="password" />
        <mat-error *ngIf="formHelpers.isFormControlInvalid('password')">
          {{ formHelpers.getErrorMessage("password") }}
        </mat-error>
      </mat-form-field>
    </form>
    <div class="buttons-container">
      <button
        mat-raised-button
        color="primary"
        [disabled]="createAccountForm.invalid"
        (click)="buildUser()"
        class="login-button"
      >
        Create Account
      </button>
      <p>OR</p>
      <button routerLink="/login" mat-button>Login</button>
    </div>
  </div>
</div>
